<table cellpadding="10" id="passengerTable">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th><input id="addPassengerBtn" type="button" value="Add Passenger" /></th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
<button type="button" {{ on 'click' this.bookTickets}}>Book Tickets</button><br>