<navbar>
    <div class="topnav">
        <LinkTo @route="logout" class="button">Logout</LinkTo>
        <LinkTo @route="cancel" class="button">Cancel Booking</LinkTo>
        <LinkTo @route="passengers" class="button">Booking Details</LinkTo>
        <LinkTo @route="tickets" class="button">Book Ticket</LinkTo>        
    </div>      
</navbar>